.sp-wrap {
	padding: 0px;
	border-style: solid;
	border-image: none;
	border-width: 1px 1px 1px 2px;
	margin-bottom:10px;
	border-radius: 7px;
	clear: left;
}
.sp-head {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-left: 6px;
	padding: 4px 14px 3px;
	text-align: left;
}
.sp-body {
	padding: 2px 6px;
	height:auto;
	border-radius: 0 0 7px 7px;
	display: none;
}
.sp-foot {
	width: 98%;
	margin: 0px auto;
	text-align: right;
	font-size: 0.8em;
	cursor: pointer;
	display:block;
}


.sp-wrap-default {
	background: none repeat scroll 0% 0% #E9E9E6;
	border-color: #C3CBD1;
}
.sp-wrap-default .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-default .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-default .sp-body {
	background: #F5F5F5;
	border-top:1px solid #C3CBD1;
}
.sp-wrap-default .sp-foot {
	color: #444;
}


.sp-wrap-green {
	background: none repeat scroll 0% 0% #A9D0B3;
	border-color: #89BE95;
}
.sp-wrap-green .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-green .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-green .sp-body {
	background: #DBEBDF;
	border-top:1px solid #89BE95;
}
.sp-wrap-green .sp-foot {
	color: #444;
}


.sp-wrap-red {
	background: none repeat scroll 0% 0% #FFB3B3;
	border-color: #FF9999;
}
.sp-wrap-red .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-red .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-red .sp-body {
	background: #FFE5E5;
	border-top:1px solid #FF9999;
}
.sp-wrap-red .sp-foot {
	color: #444;
}


.sp-wrap-blue {
	background: none repeat scroll 0% 0% #A8C3F5;
	border-color: #7CA8EE;
}
.sp-wrap-blue .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-blue .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-blue .sp-body {
	background: #D6E3FA;
	border-top:1px solid #7CA8EE;
}
.sp-wrap-blue .sp-foot {
	color: #444;
}


.sp-wrap-yellow {
	background: none repeat scroll 0% 0% #F5EEB2;
	border-color: #ECE06F;
}
.sp-wrap-yellow .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-yellow .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-yellow .sp-body {
	background: #FBF8DF;
	border-top:1px solid #ECE06F;
}
.sp-wrap-yellow .sp-foot {
	color: #444;
}


.sp-wrap-orange {
	background: none repeat scroll 0% 0% #FFD39E;
	border-color: #FFBC6B;
}
.sp-wrap-orange .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-orange .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-orange .sp-body {
	background: #FFEAD1;
	border-top:1px solid #FFBC6B;
}
.sp-wrap-orange .sp-foot {
	color: #444;
}


.sp-wrap-brown {
	background: none repeat scroll 0% 0% #E4C6B4;
	border-color: #D5A890;
}
.sp-wrap-brown .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-brown .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-brown .sp-body {
	background: #F1E2DA;
	border-top:1px solid #D5A890;
}
.sp-wrap-brown .sp-foot {
	color: #444;
}


.sp-wrap-purple {
	background: none repeat scroll 0% 0% #FFB3FF;
	border-color: #FF80FF;
}
.sp-wrap-purple .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-purple .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-purple .sp-body {
	background: #FFE5FF;
	border-top:1px solid #FF80FF;
}
.sp-wrap-purple .sp-foot {
	color: #444;
}


.sp-wrap-cyan {
	background: none repeat scroll 0% 0% #99FFFF;
	border-color: #4DFFFF;
}
.sp-wrap-cyan .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-cyan .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-cyan .sp-body {
	background: #CCFFFF;
	border-top:1px solid #4DFFFF;
}
.sp-wrap-cyan .sp-foot {
	color: #444;
}


.sp-wrap-lime {
	background: none repeat scroll 0% 0% #99FF99;
	border-color: #66FF66;
}
.sp-wrap-lime .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-lime .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-lime .sp-body {
	background: #CCFFCC;
	border-top:1px solid #66FF66;
}
.sp-wrap-lime .sp-foot {
	color: #444;
}

.sp-wrap-steelblue {
	background: none repeat scroll 0% 0% #B2CAE0;
	border-color: #8EB2D2;
}
.sp-wrap-steelblue .sp-head {
	background: url(../images/spoiler/open.gif) no-repeat left center;
	color: #2A2A2A;
}
.sp-wrap-steelblue .sp-head.unfolded {
	background: url(../images/spoiler/close.gif) no-repeat left center;
}
.sp-wrap-steelblue .sp-body {
	background: #D7E4EF;
	border-top:1px solid #8EB2D2;
}
.sp-wrap-steelblue .sp-foot {
	color: #444;
}