.sp-wrap {
	padding: 0;
	border-style: solid;
	border-image: none;
	border-width: 1px 1px 1px 2px;
	margin-bottom: 10px;
	border-radius: 7px;
	clear: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.sp-head {
	cursor: pointer;
	display: block;
	font-weight: bold;
	font-size: inherit;
	margin: 2px;
	padding: 1px;
	padding-left: 20px;
	text-align: left;
	background-image: url(data:image/gif;base64,R0lGODlhCQAJAMQfAIqZyoGSxv3+/trl84CQxYCRxn6PxMXQ7efq9H+Pwtnk8oKTxoCQxKy44QAAANvl9rvG6fD5/o2by4GRxvb8//v9//7+/ubw+v39/ouayoKSxoOTx/7+/wwMDP///////yH5BAEAAB8ALAAAAAAJAAkAAAU84AdoGkNmX4Z4HldRirSxXMdF1zK7nXU9mk2t4+h0BIlNhWPpYTCBDQXXwRwggczgJ8BAGhLRZGIoEFAhADs=);
	background-repeat: no-repeat;
	background-position: 6px;
	outline-style: none;
}
.sp-head::-webkit-details-marker {
	display: none;
}
.sp-head::-moz-list-bullet {
	list-style-type: none;
}
.sp-body {
	padding: 2px 6px;
	height: auto;
	border-radius: 0 0 7px 7px;
	display: none;
}
.sp-foot {
	width: 98%;
	margin: 0 auto;
	text-align: right;
	font-size: .8em;
	cursor: pointer;
	display: block;
}
.sp-wrap[open] .sp-head.opened {
	background-image: url(data:image/gif;base64,R0lGODlhCQAJAMQeAOLt+ff8//z+/4CRxo2by7vF6a254X6PxICQw87a74CQxuXo84CQxM/b7/H6/v7+/oGRxouayoGSxv7+/8LN7IqZyv7//4KSxur0/MrV74OTx9Ld8trl9gwMDP///wAAACH5BAEAAB4ALAAAAAAJAAkAAAU4oFcpwzFAkWgUVLZxCQGxLgdgGtS+t6NJmY5QOEFcNo/kZGLRXGwYR0DQjDSiU8uCIJJIGJdLKgQAOw==);
}
.sp-body img {
	max-width: 100% !important;
}

.sp-wrap-default {
	background: none repeat scroll 0% 0% #E9E9E6;
	border-color: #C3CBD1;
}
.sp-wrap-default .sp-head {
	color: #2A2A2A;
}
.sp-wrap-default .sp-body {
	background: #F5F5F5;
	border-top: 1px solid #C3CBD1;
}
.sp-wrap-default .sp-foot {
	color: #444;
}

.sp-wrap-green {
	background: none repeat scroll 0% 0% #A9D0B3;
	border-color: #89BE95;
}
.sp-wrap-green .sp-head {
	color: #2A2A2A;
}
.sp-wrap-green .sp-body {
	background: #DBEBDF;
	border-top: 1px solid #89BE95;
}
.sp-wrap-green .sp-foot {
	color: #444;
}

.sp-wrap-red {
	background: none repeat scroll 0% 0% #FFB3B3;
	border-color: #FF9999;
}
.sp-wrap-red .sp-head {
	color: #2A2A2A;
}
.sp-wrap-red .sp-body {
	background: #FFE5E5;
	border-top: 1px solid #FF9999;
}
.sp-wrap-red .sp-foot {
	color: #444;
}

.sp-wrap-blue {
	background: none repeat scroll 0% 0% #A8C3F5;
	border-color: #7CA8EE;
}
.sp-wrap-blue .sp-head {
	color: #2A2A2A;
}
.sp-wrap-blue .sp-body {
	background: #D6E3FA;
	border-top: 1px solid #7CA8EE;
}
.sp-wrap-blue .sp-foot {
	color: #444;
}

.sp-wrap-yellow {
	background: none repeat scroll 0% 0% #F5EEB2;
	border-color: #ECE06F;
}
.sp-wrap-yellow .sp-head {
	color: #2A2A2A;
}
.sp-wrap-yellow .sp-body {
	background: #FBF8DF;
	border-top: 1px solid #ECE06F;
}
.sp-wrap-yellow .sp-foot {
	color: #444;
}

.sp-wrap-orange {
	background: none repeat scroll 0% 0% #FFD39E;
	border-color: #FFBC6B;
}
.sp-wrap-orange .sp-head {
	color: #2A2A2A;
}
.sp-wrap-orange .sp-body {
	background: #FFEAD1;
	border-top: 1px solid #FFBC6B;
}
.sp-wrap-orange .sp-foot {
	color: #444;
}

.sp-wrap-brown {
	background: none repeat scroll 0% 0% #E4C6B4;
	border-color: #D5A890;
}
.sp-wrap-brown .sp-head {
	color: #2A2A2A;
}
.sp-wrap-brown .sp-body {
	background: #F1E2DA;
	border-top: 1px solid #D5A890;
}
.sp-wrap-brown .sp-foot {
	color: #444;
}

.sp-wrap-purple {
	background: none repeat scroll 0% 0% #FFB3FF;
	border-color: #FF80FF;
}
.sp-wrap-purple .sp-head {
	color: #2A2A2A;
}
.sp-wrap-purple .sp-body {
	background: #FFE5FF;
	border-top: 1px solid #FF80FF;
}
.sp-wrap-purple .sp-foot {
	color: #444;
}

.sp-wrap-cyan {
	background: none repeat scroll 0% 0% #99FFFF;
	border-color: #4DFFFF;
}
.sp-wrap-cyan .sp-head {
	color: #2A2A2A;
}
.sp-wrap-cyan .sp-body {
	background: #CCFFFF;
	border-top: 1px solid #4DFFFF;
}
.sp-wrap-cyan .sp-foot {
	color: #444;
}

.sp-wrap-lime {
	background: none repeat scroll 0% 0% #99FF99;
	border-color: #66FF66;
}
.sp-wrap-lime .sp-head {
	color: #2A2A2A;
}
.sp-wrap-lime .sp-body {
	background: #CCFFCC;
	border-top: 1px solid #66FF66;
}
.sp-wrap-lime .sp-foot {
	color: #444;
}

.sp-wrap-steelblue {
	background: none repeat scroll 0% 0% #B2CAE0;
	border-color: #8EB2D2;
}
.sp-wrap-steelblue .sp-head {
	color: #2A2A2A;
}
.sp-wrap-steelblue .sp-body {
	background: #D7E4EF;
	border-top: 1px solid #8EB2D2;
}
.sp-wrap-steelblue .sp-foot {
	color: #444;
}